<style type="text/css">
	*{
		transition:all 0.6s;
	}
	
	html {
		height:100%;
	}
	
	body{
		font-family:verdana, geneva, sans-serif;
		color:#FFF;
		margin:0;
		min-width:900px;
		text-align:center;
		background-image:url('img/background.png');
		background-color:rgba(52,52,52,1);
		z-index:1;
	}

	div#body_cont{
		display:inline-table;
		color:#FFF;
		margin-top:0px;
		max-width:900px;
		text-align:center;
		z-index:2;
	}
	
	div#nav{
		position:fixed;
		width:100%;
		height:auto;
		text-align:center;
		text-align:-webkit-center;
		text-align:-moz-center;
		color:#FFF;
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		background-color:#0f1e38e0;
		box-shadow:0 1px 0 rgb(255 255 255 / 15%), 0 0 10px rgb(0 0 0 / 50%) inset;
		z-index:10;
	}
	
	div.nav_col4{
		width:200px;
		height:60px;
		display:inline-block;
		margin:5px;
		border:none;
		border-radius:10px;
		font-size:24pt;
		line-height:60px;
		background-color:rgba(105,105,105,0.5);
		cursor:pointer;
	}
	
	.quicklinks_col3{
		display:inline-block;
		height:50px;
		width:250px;
		margin:1%;
		padding:10px;
		color:#efefef;
		font-size:16px;
		text-transform:uppercase;
		text-shadow:2px 3px 3px rgb(0 0 0 / 50%);
		box-shadow:0 0 1px rgb(0 0 0 / 70%), 0 0 10px rgb(0 0 0 / 40%) inset, 0 -3px 0 rgb(0 0 0 / 15%) inset;
		border-radius:6px;
		background:#976ada;
		vertical-align:top;
	}

	.quicklinks_col3:hover{
		background:#b28de9;
	}
	
	.quicklinks_col3.youtube{
		background:#F91C21;
	}
	.quicklinks_col3.youtube:hover{
		background:#E96164;
	}
	
	.quicklinks_col3.facebook{
		background:#467BF7;
	}
	.quicklinks_col3.facebook:hover{
		background:#6C9FEC;
	}
	
	.quicklink_icon{
		display:table-cell;
		width:20%;
		height:50px;
		vertical-align:middle;
	}
	
	.quicklink_text{
		display:table-cell;
		width:80%;
		height:50px;
		vertical-align:middle;
	}
	
	div#logo{
		display:inline-table;
		margin-top:10px;
		margin-bottom:10px;
		width:100%;
		max-width:900px;
		text-align:center;
		color:#FFF;
		z-index:3;
	}

	div#main{
		display:inline-table;
		padding:30px;
		width:100%;
		max-width:860px;
		height:auto;
		text-align:left;
		color:#FFF;
		border-radius:10px;
		background-color:#292929db;
		box-shadow:0 1px 0 rgb(255 255 255 / 15%), 0 0 10px rgb(0 0 0 / 50%) inset;
		z-index:3;
	}

	div#butt{
		width:900px;
		min-width:100%;
		display:inline-block;
		height:auto;
		padding-top:10px;
		margin-top:25px;
		text-align:center;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		background-color:#292929db;
		opacity:1 !important;
		box-shadow:0 1px 0 rgb(255 255 255 / 15%), 0 0 10px rgb(0 0 0 / 50%) inset;
		z-index:3;
	}

	div#butt_cont{
		display:inline-table;
		padding:20px;
		width:100%;
		max-width:860px;
		text-align:center;
		color:#FFF;
		background-color:transparent;
		z-index:3;
	}
	
	div#col3{
		display:inline-block;
		min-height:50px;
		width:28%;
		margin:1%;
		padding:10px;
		color:#efefef;
		font-size:16px;
		text-shadow:2px 3px 3px rgb(0 0 0 / 50%);
		box-shadow:0 0 1px rgb(0 0 0 / 70%), 0 0 10px rgb(0 0 0 / 40%) inset, 0 -3px 0 rgb(0 0 0 / 15%) inset;
		border-radius:6px;
		background:#467bf7;
		vertical-align:top;
	}
	
	.fof h1{
		  font-size:50px;
		  display:inline-block;
		  padding-right:12px;
		  animation:type .5s alternate infinite;
	}
	
	.exc {color:#33FF66;}
	a {color:#FFF; font-size:inherit;}
	table, th, td {
		border:1px solid white;
		border-collapse:collapse;
  	}
	
	@keyframes type{
		  from{box-shadow:inset -3px 0px 0px #888;}
		  to{box-shadow:inset -3px 0px 0px transparent;}
	}
</style>
