<style type="text/css">
	*{
		transition:all 0.6s;
	}
	
	html {
		height:100%;
	}
	
	body{
		font-family:verdana, geneva, sans-serif;
		color:#FFF;
		margin:0;
		min-width:900px;
		text-align:center;
		background-image:url('img/background.png');
		background-color:rgba(52,52,52,1);
		z-index:1;
	}

	div#body_cont{
		display:inline-table;
		color:#FFF;
		margin-top:0px;
		max-width:900px;
		text-align:center;
		z-index:2;
	}
	
	div#nav{
		position:fixed;
		width:100%;
		height:auto;
		text-align:center;
		text-align:-webkit-center;
		text-align:-moz-center;
		color:#FFF;
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		background-color:#0f1e38e0;
		box-shadow:0 1px 0 rgb(255 255 255 / 15%), 0 0 10px rgb(0 0 0 / 50%) inset;
		z-index:10;
	}
	
	div.nav_col4{
		width:200px;
		height:60px;
		display:inline-block;
		margin:5px;
		border:none;
		border-radius:10px;
		font-size:24pt;
		line-height:60px;
		background-color:rgba(105,105,105,0.5);
		cursor:pointer;
	}
	
	.quicklinks_col3{
		display:inline-block;
		height:50px;
		width:250px;
		margin:1%;
		padding:10px;
		color:#efefef;
		font-size:16px;
		text-transform:uppercase;
		text-shadow:2px 3px 3px rgb(0 0 0 / 50%);
		box-shadow:0 0 1px rgb(0 0 0 / 70%), 0 0 10px rgb(0 0 0 / 40%) inset, 0 -3px 0 rgb(0 0 0 / 15%) inset;
		border-radius:6px;
		background:#976ada;
		vertical-align:top;
	}

	.quicklinks_col3:hover{
		background:#b28de9;
	}
	
	.quicklinks_col3.youtube{
		background:#F91C21;
	}
	.quicklinks_col3.youtube:hover{
		background:#E96164;
	}
	
	.quicklinks_col3.facebook{
		background:#467BF7;
	}
	.quicklinks_col3.facebook:hover{
		background:#6C9FEC;
	}
	
	.quicklink_icon{
		display:table-cell;
		width:20%;
		height:50px;
		vertical-align:middle;
	}
	
	.quicklink_text{
		display:table-cell;
		width:80%;
		height:50px;
		vertical-align:middle;
	}
	
	div#logo{
		display:inline-table;
		margin-top:10px;
		margin-bottom:10px;
		width:100%;
		max-width:900px;
		text-align:center;
		color:#FFF;
		z-index:3;
	}

	div#main{
		display:inline-table;
		padding: 0px 30px 0px 30px;
		width:100%;
		max-width:860px;
		height:auto;
		text-align:left;
		color:#FFF;
		border-radius:10px;
		background-color:#853a00a3;
		box-shadow:0 1px 0 rgb(255 255 255 / 15%), 0 0 10px rgb(0 0 0 / 50%) inset;
		z-index:3;
	}

	div#butt{
		width:900px;
		min-width:100%;
		display:inline-block;
		height:auto;
		padding-top:10px;
		margin-top:25px;
		text-align:center;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		background-color:#292929db;
		opacity:1 !important;
		box-shadow:0 1px 0 rgb(255 255 255 / 15%), 0 0 10px rgb(0 0 0 / 50%) inset;
		z-index:3;
	}

	div#butt_cont{
		display:inline-table;
		padding:20px;
		width:100%;
		max-width:860px;
		text-align:center;
		color:#FFF;
		background-color:transparent;
		z-index:3;
	}
	
	div#col3{
		display:inline-block;
		min-height:50px;
		width:28%;
		margin:1%;
		padding:10px;
		color:#efefef;
		font-size:16px;
		text-shadow:2px 3px 3px rgb(0 0 0 / 50%);
		box-shadow:0 0 1px rgb(0 0 0 / 70%), 0 0 10px rgb(0 0 0 / 40%) inset, 0 -3px 0 rgb(0 0 0 / 15%) inset;
		border-radius:6px;
		background:#467bf7;
		vertical-align:top;
	}
	
	.fof h1{
		  font-size:50px;
		  display:inline-block;
		  padding-right:12px;
		  animation:type .5s alternate infinite;
	}
	
	.exc {color:#33FF66;}
	a {color:#FFF; font-size:inherit;}
	table, th, td {
		border:1px solid white;
		border-collapse:collapse;
  	}
	
	@keyframes type{
		  from{box-shadow:inset -3px 0px 0px #888;}
		  to{box-shadow:inset -3px 0px 0px transparent;}
	}
	
tr {
    background-color: #00000061;
    border: 1px solid black;
}
td{
    border: 0px solid white;
    border-collapse: collapse;
    height: auto;
	padding: 2px 10px 2px 3px;
}
td#icon{
    height: 32px;
    width: 32px;
    padding: 2px 2px 2px 2px;
}
td#titulo{
    padding: 0px 5px 0px 2px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-style: double;
}
td#last{
    padding: 0px 10px 0px 2px;
    border-left: 3px solid black;
    border-style: double;
}
table{
    border: 0px solid white;
    border-collapse: collapse;
}
img#icon{
    border: 1px solid black;
    background-color: black;
}
caption#titulo{
    background-color: #00000061;
    border: 1px solid black;
    margin: 0px 0px 1px 0px;
    text-shadow: 1px 3px #00000069;
	padding: 5px 0px 5px 0px;
}
* {
				margin:0px;
				padding:0px;
			}
			
			#header {
		display:inline-table;
		padding:5px 30px 5px 30px;
		width:100%;
		max-width:860px;
		height:auto;
		text-align:left;
		color:#FFF;
		border-radius:10px;
		background-color:#853a00a3;
		box-shadow:0 1px 0 rgb(255 255 255 / 15%), 0 0 10px rgb(0 0 0 / 50%) inset;
		z-index:3;
		margin:0px 0px 10px 0px;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
				padding:0px 2px 0px 2px;
			}
			
			.nav li a {
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
				box-shadow:0 1px 0 rgb(255 255 255 / 15%), 0 0 10px rgb(0 0 0 / 50%) inset;
				border-radius: 20px;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
			li#submenu{	
					background-color:#898686;
					box-shadow:0 1px 0 rgb(255 255 255 / 15%), 0 0 10px rgb(0 0 0 / 50%) inset;
					border-radius: 20px;
			}

ldimage {
	border-radius: 0%;
    height: 32px;
    position: relative;
    width: 32px;
    margin-top: 10px;
    display: inline-block;
}

ldimage:after {
  background-color: rgba(0, 0, 0, .8);
  border-radius: 5px;
  color: #fff;
  content: attr(desc);
  opacity: 0;
  padding: 6px 12px;
  position: absolute;
  left: 110%;
  top: 30px;
  transition: all .25s ease;
  visibility: hidden;
  z-index: 100;
  white-space: pre;
  text-align: left;
}

ldimage[tooltip-dir="left"]:after {
  left: auto;
  right: 110%;
}

ldimage:hover:after {
  opacity: 1;
  visibility: visible;
}

select {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 12px;
}

</style>
